@model ClinicApp.WEB.Areas.Admin.Models.AdminLoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="AdminAuthorization" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl" asp-area="Admin">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email">Email</label><br />
        <input name="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Пароль</label><br />
        <input name="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>