@*@using ClinicApp.WEB.Models
@model IEnumerable<DoctorViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>All doctors</h1>
<table class="table">

    @foreach (DoctorViewModel d in Model)
    {
        <tr>
            <td>@d.FullName</td><td>@d.Email</td><td>@d.PhoneNumber</td>
        </tr>
    }
</table>*@ 